<div class="one" *ngFor="let weather of weathers" (click)="weatherDetail(weather)">
    <pre><span><label>Id: </label>{{weather.dt}}</span>
        <span><label>Description: </label>>{{ weather.weather[0].description }}</span>
        <span><label>Clouds: </label>{{ weather.clouds.all }}</span>
        <span><label>Wind Speed: </label>{{ weather.wind.speed }}</span>
        <span><label>Wind Degree: </label>{{ weather.wind.deg }}</span>
        <span><label>Date: </label>{{ weather.dt_txt }}</span></pre>
</div>