<div class="two">
    <pre>
        <span><label>temp: </label>{{weather.main.temp}}</span>
        <span><label>temp_min: </label>>{{ weather.main.temp_min }}</span>
        <span><label>temp_max: </label>{{ weather.main.temp_max }}</span>
        <span><label>pressure: </label>{{ weather.main.pressure}}</span>
        <span><label>sea_level: </label>{{ weather.main.sea_level }}</span>
        <span><label>grnd_level: </label>{{ weather.main.grnd_level }}</span>
        <span><label>humidity: </label>{{ weather.main.humidity }}</span>
        <span><label>temp_kf: </label>{{ weather.main.temp_kf }}</span></pre>
</div>